/thesis.pdf
/thesis.synctex.gz
/tmp/
/abstract.aux
/appenA.aux
/chap01.aux
/chap02.aux
/chap03.aux
/chap04.aux
/chap05.aux
/dedic.aux
/resumo.aux
/thanks.aux
/thesi.synctex.gz
/thesis.aux
/thesis.lof
/thesis.log
/thesis.lot
/thesis.out
/thesis.toc
